html{
    width:100%;
    height:100%;
    padding:0;
    overflow: hidden;
    min-width: 1025px;
}

body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
    min-width: 1025px;
    /*-webkit-touch-callout: none; !* iOS Safari *!*/
    /*-webkit-user-select: none;   !* Chrome/Safari/Opera *!*/
    /*-khtml-user-select: none;    !* Konqueror *!*/
    /*-moz-user-select: none;      !* Firefox *!*/
    /*-ms-user-select: none;       !* Internet Explorer/Edge *!*/
    /*user-select: none;           !* Non-prefixed version, currently*/
                                 /*not supported by any browser *!*/
}

p{
    margin: 15px 0 15px 0;
}


#controls{
    position: absolute;
    top:53px;
    bottom: 0;
    right:0;
    width:450px;
    padding:20px 20px;
    overflow: auto;
    background:rgba(10,10,10,0.1);
}
#controls>a{
    /*float:right;*/
}
#controlsLeft{
    position: absolute;
    bottom:0;
    left:0;
    width: 420px;
    top:53px;
    padding:20px 20px;
    max-height: 100%;
    overflow: auto;
}
#controlsLeft .radio{
    width: 240px;
}

.sliderInput{
    float:right;
    display: inline-block;
    margin-bottom:15px;
}
.sliderContainer{
    display: block;
    margin-bottom:15px;
}

.indent{
    padding-left:20px;
}
.doubleIndent{
    padding-left:40px;
}

#gpuMathCanvas{
    display: none;
}

a, a:hover, a:visited, a:focus{
    color:#ec008b;
}

a.btn:visited, a.btn:focus{
    color: white;
}

button{
    border: 0;
    outline: none;
}

.editable{
    color:#34495e;
    height: 42px;
    display: inline-block;
    line-height: 42px;
    width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap
}
.editable:hover{
    color:#34495e;
    cursor: text;
}
.editableInput{
    display: none;
    outline: grey;
    padding: 5px 7px;
    height: 42px;
    line-height: 42px;
}
.editableInput:focus {
    outline: grey;
    border:none;
}

input.form-control {
    width: 90px;
    display: inline-block;
}

.radioSlider{
    display: inline-block;
    float:right;
}

.form-control, .select2-search input[type=text] {
    height: 35px;
}

.floatRight{
    float:right;
}

#threeContainer {
    width:100%;
    height:100%;
    padding:0;
    position: absolute;
    top: 0px;
    left: 0px;
}



.slider.slider-horizontal {
    width: 200px;
    margin: 0;
    padding: 20px;
    top: 10px;
}

.slider.slider-vertical {
    height: 200px;
    margin: 0;
    padding: 20px;
}

.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 0;
}

.flat-slider.ui-slider {
  border: 0;
  background: #ffffff;
  border-radius: 7px;
}

.flat-slider.ui-slider-horizontal {
  height: 6px;
}

.flat-slider.ui-slider-vertical {
  width: 6px;
}

.flat-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #666;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -10px;
    opacity: 0.8;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -10px;
    opacity: 0.8;
}

.flat-slider .ui-slider-handle:hover {
  opacity: 0.7;
}

.flat-slider .ui-slider-handle:focus { outline: none; }


.flat-slider{
    vertical-align: middle;
    display: inline-block;
    width: 130px;
    position: relative;
    margin: 10px 10px 10px 10px;
    /*padding: 4px 0;*/
}

.modal-content{
    border-radius: 0;
}
.modal-body{
    padding: 20px 35px;
}

span.modal-close{
    display: none;
}
.titleSpan{
    display: inline-block;
    width:100%;
    margin-top:15px;
}
.form-control:focus{
    border-color: #666;
}

.checkbox input.custom-checkbox[type="checkbox"]:checked + .icons .icon-checked, .radio input.custom-checkbox[type="checkbox"]:checked + .icons .icon-checked, .checkbox input.custom-radio[type="radio"]:checked + .icons .icon-checked, .radio input.custom-radio[type="radio"]:checked + .icons .icon-checked {
    color: #666;
}
.checkbox .icon-checked, .radio .icon-checked, .checkbox .icon-unchecked, .radio .icon-unchecked {
    color: #bdc3c7;
}

.radio .icon-checked{
    transition-duration: 0s;
}

.radio .icon-unchecked{
    transition-duration: 0s;
}

.sliderInput>.flat-slider{
   width: 132px;
}

.label-slider{
    font-size: 15px;
}

.extraSpace{
    display: inline-block;
    width:100%;
    height:15px;
}

.flipped
{
    direction: rtl;
}
.flipped>div
{
    direction: ltr;
}

.paddingBottom{
    margin-bottom: 20px;
}

#svgViewer{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    top:0px;
    right:0;
    background: white;
    display: none;
    padding-top: 56px;
}
svg{
    width: 100%;
    height: 100%;
}

.hexVal{
    border-width:4px;
}

#warningMessage{
    text-align: center;
    margin: 0 18px;
}

.about{

    margin-right: 10px;
    color: #34495e!important;
    font-size: 18px;
    line-height: 18px;
}
#controls .about{
    position: absolute;
    line-height: 1.7;
    margin-top: 2px;
    right:5px;
}

#aboutError{
    line-height: 2.0
}
#aboutStiffness{
    line-height: 28px;
}

#start, #stepForwardOptions{
    display: none;
}
#reset{
    margin-left: 20px;
}
#stepForward{
    display: inline-block;
    margin-right: 20px;
}

#creasePercentNav{
    margin-bottom: 0;
    margin-top:12px;
    color: white;
    display: none;
}

.bigLabel{
    font-size:18px;
    margin-top: 20px;
}
.checkbox.bigLabel .icons, .radio .icons {
    top: 2px;
}

.smallTxt{
    font-size: 14px;
}
input.form-control.bigInput{
    width:300px;
}

.actionButton{
    width: 100px;
}

#unitsDropdown{
    height: 100px;
    overflow: auto;
}

.modal img{
    width: 200px;
}

a.seeMore{
    float:none!important;
    color: #34495e;
}
a.seeMore>.fui-triangle-down{
    display: inline-block;
    margin-right:10px;
}
a.seeMore.closed>.fui-triangle-down{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.hide{
    display: none;
}

.inlineBlock{
    display: inline-block;
}

.alignRight{
    text-align: right;
}

.fullWidth{
    width: 100%;
}

#simulationSettings, #errorInfo,  #animationsSettings, #cameraAngle, #edgeVisiblity, #virtualReality, #materialSettings{
    margin-top: 15px;
}
.modal-body img{
    margin-left: auto;
    margin-right: auto;
        display: block;
}

.colorSwatch{
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
}